{
  "openapi": "3.1.0",
  "info": {
    "title": "Polymarket API (minimal)",
    "version": "0.1.0",
    "description": "Minimal OpenAPI spec for the endpoints used by this repo. Schemas are permissive by design."
  },
  "servers": [
    {
      "url": "https://gamma-api.polymarket.com",
      "description": "Gamma API"
    },
    {
      "url": "https://clob.polymarket.com",
      "description": "CLOB API"
    }
  ],
  "paths": {
    "/markets": {
      "get": {
        "summary": "List markets",
        "description": "Fetch market metadata from Gamma.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 50
            },
            "description": "Maximum number of markets to return."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Offset for pagination."
          },
          {
            "name": "closed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by closed markets."
          },
          {
            "name": "tag_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter markets by tag id."
          },
          {
            "name": "related_tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include related tags when filtering by tag_id."
          },
          {
            "name": "exclude_tag_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Exclude markets with the specified tag id."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of markets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                },
                "examples": {}
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "summary": "List events",
        "description": "Fetch event metadata from Gamma.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 50
            },
            "description": "Maximum number of events to return."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Offset for pagination."
          },
          {
            "name": "closed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by closed events."
          },
          {
            "name": "tag_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter events by tag id."
          },
          {
            "name": "related_tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include related tags when filtering by tag_id."
          },
          {
            "name": "exclude_tag_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Exclude events with the specified tag id."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort field (for example, id)."
          },
          {
            "name": "ascending",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Sort ascending when true."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                },
                "examples": {}
              }
            }
          }
        }
      }
    },
    "/book": {
      "get": {
        "summary": "Get order book summary",
        "description": "Retrieve the order book for a CLOB token.",
        "parameters": [
          {
            "name": "token_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "CLOB token id."
          }
        ],
        "responses": {
          "200": {
            "description": "Order book snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "examples": {}
              }
            }
          }
        }
      }
    },
    "/price": {
      "get": {
        "summary": "Get market price",
        "description": "Retrieve the price for a CLOB token (BUY side by default in scripts).",
        "parameters": [
          {
            "name": "token_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "CLOB token id."
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "BUY",
                "SELL"
              ],
              "default": "BUY"
            },
            "description": "Market side."
          }
        ],
        "responses": {
          "200": {
            "description": "Price response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "examples": {}
              }
            }
          }
        }
      }
    },
    "/midpoint": {
      "get": {
        "summary": "Get midpoint price",
        "description": "Retrieve midpoint price for a CLOB token.",
        "parameters": [
          {
            "name": "token_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "CLOB token id."
          }
        ],
        "responses": {
          "200": {
            "description": "Midpoint response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "examples": {}
              }
            }
          }
        }
      }
    },
    "/prices-history": {
      "get": {
        "summary": "Get price history",
        "description": "Retrieve historical prices for a CLOB token.",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "CLOB token id."
          },
          {
            "name": "startTs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start time as a Unix timestamp in UTC."
          },
          {
            "name": "endTs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "End time as a Unix timestamp in UTC."
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "1w",
                "1d",
                "6h",
                "1h",
                "max"
              ]
            },
            "description": "Duration ending at current time; mutually exclusive with startTs/endTs."
          },
          {
            "name": "fidelity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Resolution of the data in minutes."
          }
        ],
        "responses": {
          "200": {
            "description": "Price history response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "examples": {}
              }
            }
          }
        }
      }
    }
  }
}
